@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:wght@400;500;600;700&family=Spartan:wght@500;700&display=swap");

body {
  font-family: "Spartan";
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.header {
  background-image: url("images/bg-header-desktop.svg");
  background-size: cover;
  background-color: hsl(180, 29%, 50%);
  height: 100px;
}

.job-listing {
  display: flex;
  /* justify-content: space-around; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
  justify-content: flex-start;
  /* gap: 500px; */
  padding: 20px;
}

.selected {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.job-listing img {
  border-radius: 50%;
}

.job-info {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.job-description span {
  font-size: 12px;
}

.new,
.featured {
  background-color: hsl(180, 37%, 55%);
  color: white;
  padding: 2px;
  font-size: 14px;
  border-radius: 30%;
}

.featured {
  background-color: hsl(180, 14%, 20%);
}

.company,
.tags {
  color: hsl(180, 37%, 55%);
}

.company-img {
  margin-left: 20px;
}

.tags {
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.tags span {
  padding: 3px;
  background-color: hsl(180, 31%, 95%);
}

.tags span:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
}

.extra-info {
  color: grey;
  display: flex;
  gap: 10px;
}

.job-container {
  /* display: flex;
  flex-direction: column;
  gap: 15px; */
  display: grid;
  grid-template-rows: 1fr;
  width: 1300px;
  margin-left: 300px;
  margin-top: 50px;
  row-gap: 20px;
}

.hidden {
  display: none;
}

.filter-section {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
  display: flex;
  justify-content: space-between;
}

.filter-tags {
  display: flex;
  gap: 10px;
}

.filter-tags span,
.clear-filters {
  color: hsl(180, 29%, 50%);
}

.filter-tags span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.filter-tags button {
  cursor: pointer;
  color: white;
  background-color: hsl(180, 29%, 50%);
  padding: 5px;
}

.filter-tags button:hover {
  background-color: black;
}

.clear-filters {
  border: none;
  cursor: pointer;
}

.clear-filters:hover {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .header {
    width: 2000px;
  }
}

@media (max-width: 750px) {
  body {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  body {
    font-size: 50px;
  }

  .job-listing {
    flex-direction: column;
    gap: 40px;
  }

  .job-info {
    flex-direction: column;
  }

  .job-description span {
    font-size: 40px;
  }

  .company-img img {
    width: 150px;
    height: 150px;
  }

  .tags {
    margin: 0px;
    margin-right: auto;
    /* width: 400px; */
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
